<div id="answerBox"></div> 

<div class="flex-container input">
  <div class="flex-container collumn">
    <div class="row text">
      graph(function, *x_1, *x_2)
    </div>
  </div>
  <div class="flex-container collumn">
    <div class="row">
      <input type="text" id="graph" value="" onKeyPress="return calculate('graph', event)">
    </div>
  </div>
  <div class="flex-container collumn">
    <div class="row calcButton">
      <input type="button" value="Calculate" onclick="calculate('graph')">
    </div>
  </div>
</div>