<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>replit</title>
  <link href="static/style.css" rel="stylesheet" type="text/css" />
	<script src="static/script.js"></script>
</head>

<body>
  
  <h1 id="">Calculator!</h1>
	      <input type="text" id="ansbx" value="Ans"> 
	<form>
		
	  <div class="input">
			<br><br>
			Basic Equations
			<input type="text" id="eval1" value="">
			<input type="button" id="eval2" value="Calculate" onclick="eval()">
			<br>
			sqrt(n)
			<input type="text" id="sqrt1" value="" onKeyPress="return sqrt()">
			<input type="button" id="sqrt2" value="Calculate" onclick="sqrt()">
			<br>
			sin(n)
			<input type="text" id="sin1" value="" oMnKeyPress="return sin()">
			<input type="button" id="sin2" value="Calculate" onclick="sin()">
			<br>
			cos(n)
			<input type="text" id="cos1" value="" onKeyPress="return cos()">
			<input type="button" id="cos2" value="Calculate" onclick="cos()">
		</div>
<!--   <br>
  <div class="flex-container buttons">
    
    <div class="flex-container numbers">
      <div class="row">
        <input type="button" value="sqrt" onclick="sqrt()">
        <input type="button" value="fact" onclick="return addInput(8)">
        <input type="button" value="sin" onclick="return addInput(7)">
      </div>
      <div class="row">
        <input type="button" value="derivative" onclick="return addInput(6)">
        <input type="button" value="integral" onclick="return addInput(5)">
        <input type="button" value="reimannSum" onclick="return addInput(4)">
      </div>
      <div class="row">
        <input type="button" value="trapezoidSum" onclick="return addInput(3)">
        <input type="button" value="minVal" onclick="return addInput(2)">
        <input type="button" value="euler" onclick="return addInput(1)">
      </div>
      <div class="row">
        <input type="button" value="maxVal" onclick="return addInput(0)">
      </div>
    </div>
    
    <div class="flex-container operations">
      <div class="row">
        <input type="button" value="+" onclick="return addInput('+')">
        <input type="button" value="-" onclick="return addInput('-')">
      </div>
      <div class="row">
        <input type="button" value="/" onclick="return addInput('/')">
        <input type="button" value="x" onclick="return addInput('*')">
      </div>
    </div>
  
    <div class="flex-container stuff">
      <div class="row">
        <input type="button" value="e" onclick="return addInput('e')">
        <input type="button" value="π" onclick="return addInput('π')">
      </div>
      <div class="row">
        <input type="button" value="sin(" onclick="return addInput('sin(')">
        <input type="button" value="cos(" onclick="return addInput('cos(')">
        <input type="button" value="tan(" onclick="return addInput('tan(')">
      </div>
      <div class="row">
        <input type="button" value="(" onclick="return addInput('(')">
        <input type="button" value=")" onclick="return addInput(')')">
      </div>
    </div>
  
    <div class="flex-container ctrl">
      <div class="row">
        <input type="button" id="clear" value="CLEAR" onclick="return clearInput()">
        <input type="button" id="enter" value="ENTER" onclick="return computeInput()">
      </div>
    </div>

  </div> -->
	</form>
</body>

</html>