<div id="answerBox"></div> 

<div class="flex-container input">
  <div class="flex-container collumn">
    <div class="row text">
      mean(n_1, n_2, ... n_n)
    </div>
    <div class="row text">
      median(n_1, n_2, ... n_n)
    </div>
    <div class="row text">
      mode(n_1, n_2, ... n_n)
    </div>
    <div class="row text">
      range(n_1, n_2, ... n_n)
    </div>
    <div class="row text">
      sigma(function, i, n)
    </div>
    <div class="row text">
      primeFact(n)
    </div>
    <div class="row text">
      lcm(a, b)
    </div>
    <div class="row text">
      gcd(a, b)
    </div>
    <div class="row text">
      nPr(n, r)
    </div>
    <div class="row text">
      nCr(n, r)
    </div>
    <div class="row text">
      distance(x_1, y_1, x_2, y_2)
    </div>
  </div>
  <div class="flex-container collumn">
    <div class="row">
      <input type="text" id="mean" value="" onKeyPress="return calculate('mean', event)">
    </div>
    <div class="row">
      <input type="text" id="median" value="" onKeyPress="return calculate('median', event)">
    </div>
    <div class="row">
      <input type="text" id="mode" value="" onKeyPress="return calculate('mode', event)">
    </div>
    <div class="row">
      <input type="text" id="range2" value="" onKeyPress="return calculate('range2', event)">
    </div>
    <div class="row">
      <input type="text" id="sigma" value="" onKeyPress="return calculate('sigma', event)">
    </div>
    <div class="row">
      <input type="text" id="primeFact" value="" onKeyPress="return calculate('primeFact', event)">
    </div>
    <div class="row">
      <input type="text" id="lcm" value="" onKeyPress="return calculate('lcm', event)">
    </div>
    <div class="row">
      <input type="text" id="gcd" value="" onKeyPress="return calculate('gcd', event)">
    </div>
    <div class="row">
      <input type="text" id="nPr" value="" onKeyPress="return calculate('nPr', event)">
    </div>
    <div class="row">
      <input type="text" id="nCr" value="" onKeyPress="return calculate('nCr', event)">
    </div>
    <div class="row">
      <input type="text" id="distance" value="" onKeyPress="return calculate('distance', event)">
    </div>
  </div>
  <div class="flex-container collumn">
    <div class="row calcButton">
      <input type="button" value="Calculate" onclick="calculate('mean')">
    </div>
    <div class="row calcButton">
      <input type="button" value="Calculate" onclick="calculate('median')">
    </div>
    <div class="row calcButton">
      <input type="button" value="Calculate" onclick="calculate('mode')">
    </div>
    <div class="row calcButton">
      <input type="button" value="Calculate" onclick="calculate('range2')">
    </div>
    <div class="row calcButton">
      <input type="button" value="Calculate" onclick="calculate('sigma')">
    </div>
    <div class="row calcButton">
      <input type="button" value="Calculate" onclick="calculate('primeFact')">
    </div>
    <div class="row calcButton">
      <input type="button" value="Calculate" onclick="calculate('lcm')">
    </div>
    <div class="row calcButton">
      <input type="button" value="Calculate" onclick="calculate('gcd')">
    </div>
    <div class="row calcButton">
      <input type="button" value="Calculate" onclick="calculate('nPr')">
    </div>
    <div class="row calcButton">
      <input type="button" value="Calculate" onclick="calculate('nCr')">
    </div>
    <div class="row calcButton">
      <input type="button" value="Calculate" onclick="calculate('distance')">
    </div>
  </div>
</div>